<template>
  <!-- temporarily disabled contact button -->
  <Layout
    link-prev="/pages/history"
    link-next="/monks/father-john-bosco/"
    link-prev-text="About the abbey"
    link-next-text="Meet the monks"
    :show-contact-button="false"
  >
    <div class="view--home">
      <div class="absolute top-0 left-0 h-full w-full z-0">
        <g-image
          src="~/assets/images/bg-home.jpg"
          alt="The monks of Kijonjo"
          class="h-full w-full object-cover"
        />
      </div>

      <div class="relative z-10 text-center">
        <h2
          class="uppercase text-3xl lg:text-5xl mb-8 lg:mb-10 font-medium tracking-widest px-8 leading-tight"
        >Searching for silence</h2>

        <img src="logo.svg" alt="The monks of Kijonjo" class="mx-auto max-w-xs lg:max-w-none" />
      </div>

      <a
        href="https://www.voordenberg.com/project/the-monks-of-kijonjo"
        target="_blank"
        rel="noopener"
        class="text-white absolute right-0 bottom-0 z-10 p-4 text-xs"
      >made by Studio Voordenberg</a>
    </div>
  </Layout>
</template>

<script>
export default {
  name: "HomeView"
};
</script>

<style scoped>
.view--home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
</style>
