<template>
  <Layout :link-prev="$context.prev" :link-next="$context.next">
    <MonkViewState :initial-state="$page.monkView">
      <div class="grid" slot-scope="{ state, setState }">
        <section class="grid__section">
          <div class="text-black relative h-full flex items-center">
            <g-image
              :src="state.image1"
              :alt="state.name"
              class="absolute z-0 top-0 left-0 h-full w-full object-cover"
            />

            <HeadingBlock
              class="max-w-lg ml-16 lg:ml-40 lg:pb-16 relative z-10"
              :title="state.name"
              :subtitle="state.heading"
              @buttonClick="setState({ showVideo: true })"
            />
          </div>
        </section>

        <BlockGallery
          class="grid__section"
          bg-class="bg-beige"
          :imageSrc="state.image2"
          :name="state.name"
          @click="setState({ showGallery: true })"
        />

        <BlockLearnMore
          class="grid__section"
          :imageSrc="state.image3"
          textClass="bg-brown"
          @click="setState({ showAbout: true })"
        />

        <BlockQuote class="grid__section" bg-class="bg-camel" :quote="state.quote" />

        <Modal v-show="state.showAbout" @close="setState({ showAbout: false })">
          <div class="py-10 lg:py-20">
            <div class="relative z-0 pb-2/5 h-0">
              <g-image :src="state.image4" alt class="absolute h-full w-full object-cover" />
            </div>

            <div
              class="text-white bg-camel p-10 lg:p-24 mx-12 lg:mx-20 -mt-24 lg:-mt-40 relative z-10"
            >
              <h3
                class="text-2xl lg:text-5xl pr-20 leading-tight mb-4 uppercase tracking-widest mb-6 lg:mb-10"
              >{{ state.name }}</h3>

              <div class="font-light text-base lg:text-2xl origin-html" v-html="state.origin"></div>
            </div>
          </div>
        </Modal>

        <Modal v-if="state.showVideo" @close="setState({ showVideo: false })" centered>
          <Video :src="state.video" class="w-full" />
        </Modal>

        <Modal v-show="state.showGallery" @close="setState({ showGallery: false })">
          <div class="flex flex-col items-center pb-4">
            <g-image :src="state.gallery1" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery2" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery3" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery4" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery5" :alt="state.name" class="max-h-80 w-auto" />
          </div>
        </Modal>
      </div>
    </MonkViewState>
  </Layout>
</template>

<script>
import BlockLearnMore from "@/components/blocks/BlockLearnMore";
import BlockGallery from "@/components/blocks/BlockGallery";
import BlockQuote from "@/components/blocks/BlockQuote";
import MonkViewState from "@/components/MonkViewState";
import HeadingBlock from "@/components/HeadingBlock";
import Modal from "@/components/Modal";
import Video from "@/components/Video";

export default {
  name: "MonkDelphin",
  components: {
    BlockLearnMore,
    MonkViewState,
    HeadingBlock,
    BlockGallery,
    BlockQuote,
    Video,
    Modal
  }
};
</script>

<page-query>
query MonkView ($path: String!) {
  monkView (path: $path) {
    name
    heading
    quote
    origin
    video
    image1
    image2
    image3
    image4
    gallery1
    gallery2
    gallery3
    gallery4
    gallery5
  }
}
</page-query>

<style scoped lang="scss">
.grid {
  display: grid;
  background-color: #f8f8f8;
  height: 100vh;
  grid-template-columns: 25% 37% 19% 19%;
  grid-template-rows: 67% 33%;

  .grid__section:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .grid__section:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
</style>
