<template>
  <Layout :link-prev="$context.prev" :link-next="$context.next">
    <MonkViewState :initial-state="$page.monkView">
      <div class="grid" slot-scope="{ state, setState }">
        <section class="grid__section bg-black text-white relative">
          <div class="text-black relative h-full flex items-center justify-end">
            <g-image
              :src="state.image1"
              :alt="state.name"
              class="h-full w-full object-cover absolute z-0 top-0 left-0"
            />

            <HeadingBlock
              class="max-w-lg lg:max-w-xl pb-4 lg:pb-16 relative z-10 lg:mr-40"
              :title="state.name"
              :subtitle="state.heading"
              @buttonClick="setState({ showVideo: true })"
            />
          </div>
        </section>

        <BlockQuote class="grid__section" :quote="state.quote" />

        <BlockLearnMore
          class="grid__section"
          textClass="bg-orange"
          :imageSrc="state.image2"
          @click="setState({ showAbout: true })"
        />

        <BlockGallery
          class="grid__section"
          bg-class="bg-beige"
          :imageSrc="state.image3"
          :name="state.name"
          @click="setState({ showGallery: true })"
        />

        <Modal v-if="state.showVideo" @close="setState({ showVideo: false })" centered>
          <Video :src="state.video" class="w-full" />
        </Modal>

        <Modal v-show="state.showAbout" @close="setState({ showAbout: false })">
          <div class="py-10 lg:py-20">
            <div class="relative z-0 pb-2/5 h-0">
              <g-image :src="state.image3" alt class="absolute h-full w-full object-cover" />
            </div>

            <div
              class="text-white bg-green p-10 lg:p-24 mx-12 lg:mx-20 -mt-24 lg:-mt-40 relative z-10"
            >
              <h3
                class="text-2xl lg:text-5xl pr-20 leading-tight mb-4 uppercase tracking-widest mb-6 lg:mb-10"
              >{{ state.name }}</h3>

              <div class="font-light text-base lg:text-2xl origin-html" v-html="state.origin"></div>
            </div>
          </div>
        </Modal>

        <Modal v-show="state.showGallery" @close="setState({ showGallery: false })">
          <div class="flex flex-col items-center pb-4">
            <g-image :src="state.gallery1" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery2" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery3" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery4" :alt="state.name" class="max-h-80 w-auto mb-4 lg:mb-10" />

            <g-image :src="state.gallery5" :alt="state.name" class="max-h-80 w-auto" />
          </div>
        </Modal>
      </div>
    </MonkViewState>
  </Layout>
</template>

<script>
import Modal from "@/components/Modal";
import Video from "@/components/Video";
import HeadingBlock from "@/components/HeadingBlock";
import MonkViewState from "@/components/MonkViewState";
import BlockQuote from "@/components/blocks/BlockQuote";
import BlockGallery from "@/components/blocks/BlockGallery";
import BlockLearnMore from "@/components/blocks/BlockLearnMore";

export default {
  name: "MonkJohnBosco",
  components: {
    BlockLearnMore,
    MonkViewState,
    HeadingBlock,
    BlockQuote,
    BlockGallery,
    Video,
    Modal
  }
};
</script>

<page-query>
query MonkView ($path: String!) {
  monkView (path: $path) {
    name
    heading
    quote
    origin
    video
    image1
    image2
    image3
    gallery1
    gallery2
    gallery3
    gallery4
    gallery5
  }
}
</page-query>

<style scoped lang="scss">
.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 25% 1fr;
  grid-template-rows: 67% 33%;

  .grid__section:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
</style>
