<template>
  <Layout
    :link-prev="$page.pageView.prev"
    :link-next="$page.pageView.next"
    :link-prev-text="$page.pageView.prevText || ''"
  >
    <div
      class="view--page"
      :class="`text-${$page.pageView.textColor === 'dark' ? 'black' : 'white'}`"
    >
      <div class="absolute top-0 left-0 h-full w-full z-0">
        <g-image
          :src="$page.pageView.backgroundImage"
          alt
          class="h-full w-full object-cover"
        />
      </div>

      <div class="relative z-10 text-center max-w-xl">
        <h1
          class="uppercase text-3xl lg:text-5xl mb-4 lg:mb-8 font-medium tracking-widest leading-tight px-10"
        >
          {{ $page.pageView.title }}
        </h1>
        <h2 class="text-xl lg:text-4xl font-light mb-10">
          {{ $page.pageView.text }}
        </h2>

        <Button
          :tint="$page.pageView.textColor === 'dark' ? 'dark' : 'light'"
          @click="onClickButton"
          >{{ buttonText }}</Button
        >
      </div>

      <Modal v-if="showVideo" centered @close="showVideo = false">
        <Video :src="videoUrl" class="w-full" />
      </Modal>

      <Modal v-if="showTimeline" @close="showTimeline = false">
        <div class="py-10 lg:py-20">
          <div class="relative z-0 pb-2/5 h-0">
            <g-image
              :src="$page.pageView.timelineImageHeader"
              alt="Timeline"
              class="absolute h-full w-full object-cover"
            />
          </div>

          <div
            class="text-white bg-beige mx-8 lg:mx-20 -mt-20 lg:-mt-40 relative z-10"
          >
            <g-image :src="$page.pageView.timelineImage" class=""></g-image>
          </div>
        </div>
      </Modal>
    </div>
  </Layout>
</template>

<page-query>
query PageView ($path: String!) {
  pageView (path: $path) {
    title
    text
    textColor
    backgroundImage
    next
    prev
    prevText
    video
    timelineImageHeader
    timelineImage
  }
}
</page-query>

<script>
import Button from '@/components/Button';
import Modal from '@/components/Modal';
import Video from '@/components/Video';
import TimelinePointer from '@/components/TimelinePointer';

export default {
  name: 'PageView',
  components: {
    TimelinePointer,
    Button,
    Video,
    Modal
  },
  data() {
    return {
      showVideo: false,
      showTimeline: false
    };
  },
  methods: {
    onClickButton() {
      if (this.videoUrl) {
        this.showVideo = true;
      } else {
        this.showTimeline = true;
      }
    }
  },
  computed: {
    videoUrl() {
      return this.$page.pageView.video;
    },
    buttonText() {
      return this.$page.pageView.video ? 'Play video' : 'Open timeline';
    }
  }
};
</script>

<style scoped lang="scss">
.view--page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline {
  @apply flex;

  &__col {
    @apply flex-shrink-0;
    flex: 3;
  }

  &__line {
    @apply flex-shrink-0;
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    width: 200px;

    &::after {
      @apply absolute;
      @apply z-0;
      @apply top-0;
      @apply bottom-0;
      @apply bg-white;
      content: '';
      left: 50%;
      width: 1px;
    }
  }
}
</style>
