<template>
  <section
    class="cursor-pointer relative flex items-center justify-center text-white"
    :class="bgClass"
    @click="$emit('click')"
  >
    <g-image
      :src="imageSrc"
      :alt="name"
      class="absolute z-0 top-0 left-0 h-full w-full object-cover"
    />

    <SeePhotos class="relative z-10" :name="name" />

    <block-overlay />
  </section>
</template>

<script>
import SeePhotos from '@/components/SeePhotos';
import BlockOverlay from '@/components/blocks/BlockOverlay';

export default {
  name: 'BlockGallery',
  components: {
    BlockOverlay,
    SeePhotos
  },
  props: {
    imageSrc: {
      type: Object,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    bgClass: {
      type: String,
      default: 'bg-beige'
    }
  }
};
</script>
