<template>
  <section
    class="relative flex items-center justify-center cursor-pointer overflow-hidden"
    @click="$emit('click')"
  >
    <g-image :src="imageSrc" alt class="absolute z-0 top-0 left-0 h-full w-full object-cover" />

    <p
      class="text-xs lg:text-base relative z-10 font-bold text-white uppercase text-center p-4 leading-tight shadow tracking-widest"
      :class="textClass"
    >
      Learn
      <br />more
      <br />about his
      <br />origin
    </p>

    <block-overlay />
  </section>
</template>

<script>
import BlockOverlay from "@/components/blocks/BlockOverlay";

export default {
  name: "BlockLearnMore",
  components: {
    BlockOverlay
  },
  props: {
    imageSrc: {
      type: Object,
      required: true
    },
    textClass: {
      type: String,
      default: "bg-green"
    }
  }
};
</script>
