<template functional>
  <section
    class="text-white flex items-center text-center p-4 lg:p-10 lg:text-4xl font-light leading-tight"
    :class="props.bgClass"
  >"{{ props.quote }}"</section>
</template>

<script>
export default {
  name: "BlockQuote",
  props: {
    quote: {
      type: String,
      required: true
    },
    bgClass: {
      type: String,
      default: "bg-green"
    }
  }
};
</script>

<style></style>
