<template>
  <div class="block-overlay">
    <Button tint="filled">Open</Button>
  </div>
</template>

<script>
import Button from '@/components/Button';
export default {
  name: 'BlockOverlay',
  components: {
    Button
  }
};
</script>

<style scoped lang="scss">
.block-overlay {
  @apply opacity-0;
  @apply absolute;
  @apply z-30;
  @apply top-0;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 400ms cubic-bezier(0.55, 0, 0.1, 1);

  &:hover {
    @apply opacity-100;
  }
}
</style>
