<template>
  <button type="button" @click="$emit('click')" class="button" :class="`button--${tint}`">
    <slot />
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    tint: {
      type: String,
      default: "light"
    }
  }
};
</script>

<style scoped lang="scss">
.button {
  border: 2px solid;
  border-radius: 40px;
  @apply outline-none;
  @apply px-8;
  @apply py-4;
  @apply leading-none;
  @apply bg-transparent;
  @apply uppercase;
  @apply tracking-widest;
  @apply font-medium;
  transition: background-color 150ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgba(#ffffff, 0.3);
  }

  &--light {
    @apply border-white;
    @apply text-white;
  }

  &--dark {
    @apply border-black;
    @apply text-black;
  }

  &--filled {
    @apply border-none;
    @apply bg-white;
    @apply text-black;
    @apply uppercase;
    @apply tracking-widest;
    @apply font-bold;

    &:hover,
    &:focus {
      @apply bg-white;
    }
  }
}
</style>
