<template>
  <div class="px-4" :class="tint === 'light' ? 'text-white' : 'text-black'">
    <h1
      class="text-2xl lg:text-6xl lg:pr-20 leading-none mb-4 uppercase tracking-widest"
    >
      {{ title }}
    </h1>
    <h2 class="lg:text-xl font-light mb-6 lg:mb-10">{{ subtitle }}</h2>
    <Button :tint="tint" @click="$emit('buttonClick')">{{ buttonText }}</Button>
  </div>
</template>

<script>
import Button from '@/components/Button';
export default {
  name: 'HeadingBlock',
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    subtitle: {
      type: String,
      default: 'Subtitle'
    },
    buttonText: {
      type: String,
      default: 'Watch his movie'
    },
    tint: {
      type: String,
      default: 'light'
    }
  },
  components: {
    Button
  }
};
</script>

<style scoped lang="scss"></style>
