<template>
  <div class="horizontal-navigator relative">
    <div class="navigator-container" ref="container">
      <div
        class="navigator-scroller"
        ref="scroller"
        :style="{ transform: `translateX(${positionX}px)` }"
      >
        <slot></slot>
      </div>
    </div>

    <transition-fade>
      <nav-button
        v-show="canMoveLeft"
        type="button"
        class="absolute left-0 top-1/2 transform -translate-y-1/2 z-50 p-4 ml-2 lg:ml-4"
        @click="prev"
      />
    </transition-fade>

    <transition-fade>
      <nav-button
        v-show="canMoveRight"
        type="button"
        direction="right"
        class="absolute right-0 top-1/2 transform -translate-y-1/2 z-50 p-4 mr-2 lg:mr-4"
        @click="next"
      />
    </transition-fade>
  </div>
</template>

<script>
import TransitionFade from "@/components/TransitionFade";
import NavButton from "@/components/NavButton";
import anime from "animejs/lib/anime.es.js";

export default {
  name: "HorizontalNavigator",
  components: {
    TransitionFade,
    NavButton
  },
  props: {
    centered: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    isMounted: false,
    positionX: 0,
    index: 0
  }),
  computed: {
    children() {
      if (!this.isMounted) {
        return [];
      }
      return [...this.$refs.scroller.children];
    },
    offsets() {
      return this.children.map(
        child => child.offsetLeft - Math.abs(this.positionX)
      );
    },
    canMoveLeft() {
      return this.index > 0;
    },
    canMoveRight() {
      if (!this.isMounted) {
        return false;
      }
      const containerWidth = this.$refs.container.offsetWidth;
      const scrollerWidth = this.$refs.scroller.scrollWidth;
      return Math.abs(this.positionX) + containerWidth < scrollerWidth;
    }
  },
  methods: {
    prev() {
      if (this.index > 0) {
        this.goTo(this.index - 1);
      }
    },
    next() {
      if (this.canMoveRight) {
        this.goTo(this.index + 1);
      }
    },
    goTo(idx) {
      if (this.index === idx) return;
      const offset = this.getOffset(idx);
      const newPosition =
        idx > this.index
          ? this.positionX - offset
          : this.positionX + Math.abs(offset);
      this.setIndex(idx);
      this.render(newPosition);
    },
    setIndex(idx) {
      this.index = idx;
    },
    getOffset(idx) {
      return this.offsets[idx];
    },
    render(newPositionX) {
      const obj = { positionX: this.positionX };
      this.animation = anime({
        targets: obj,
        positionX: newPositionX,
        duration: 400,
        easing: "cubicBezier(.215, .610, .355, 1)",
        update: () => (this.positionX = obj.positionX)
      });
    }
  },
  beforeDestroy() {
    if (this.animation) {
      this.animation.pause();
    }
  },
  async mounted() {
    this.isMounted = true;

    if (this.centered) {
      await this.$nextTick();
      const containerWidth = this.$refs.container.offsetWidth;
      const scrollerWidth = this.$refs.scroller.scrollWidth;
      const middleIdx = this.offsets.findIndex(
        offset => offset >= (scrollerWidth - containerWidth) / 2
      );
      this.index = middleIdx;
      this.positionX = this.offsets[middleIdx] * -1;
    }
  }
};
</script>

<style lang="scss">
.navigator-container {
  @apply relative;
  @apply overflow-hidden;
}

.navigator-scroller {
  will-change: transform;
  @apply flex;
  @apply flex-no-wrap;

  > * {
    flex: 0 0 auto;
  }
}
</style>
