<template functional>
  <div class="menu-slide relative bg-black">
    <div class="menu-slide__bg" :style="{ backgroundImage: `url(${props.image})` }"></div>

    <div
      class="menu-slide__title text-white mb-10 px-10 text-center uppercase font-bold relative z-20"
    >{{ props.title }}</div>
  </div>
</template>

<script>
export default {
  name: "MenuSlide",
  props: {
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.menu-slide {
  @apply w-full;
  @apply h-full;
  @apply flex;
  @apply items-end;
  @apply justify-center;

  &__bg {
    @apply absolute;
    @apply top-0;
    @apply bottom-0;
    @apply left-0;
    @apply right-0;
    @apply z-10;
    @apply bg-center;
    @apply bg-cover;
    @apply opacity-50;
    @apply transition-opacity;
    @apply duration-300;
  }

  &__title {
    @apply text-base;
    transition: font-size 200ms;
  }

  &:hover {
    .menu-slide__title {
      @apply text-xl;
    }

    .menu-slide__bg {
      @apply opacity-100;
    }
  }
}
</style>
