<template>
  <div class="menu fixed z-50 top-0 left-0 w-full h-full">
    <horizontal-navigator>
      <g-link
        v-for="edge in $static.pages.edges"
        class="menu__link"
        :key="edge.node.id"
        :to="edge.node.path"
      >
        <menu-slide :title="edge.node.title" :image="edge.node.menuImage.src" />
      </g-link>

      <g-link class="menu__link home" to="/">
        <menu-slide title="Homepage" :image="homepageBgImage" />
      </g-link>

      <g-link
        v-for="edge in $static.monks.edges"
        class="menu__link"
        :key="edge.node.id"
        :to="edge.node.path"
      >
        <menu-slide :title="edge.node.title" :image="edge.node.menuImage.src" />
      </g-link>
    </horizontal-navigator>
  </div>
</template>

<static-query>
query {
  monks: allMonkView(sortBy: "order", order: ASC) {
    edges {
      node {
        path
        title: name
        menuImage
      }
    }
  }
  pages: allPageView(sortBy: "order", order: DESC) {
    edges {
      node {
        title
        path
        menuImage
      }
    }
  }
}
</static-query>

<script>
import HorizontalNavigator from '@/components/HorizontalNavigator';
import homepageBgImage from '../assets/images/bg-home.jpg';
import MenuSlide from '@/components/MenuSlide';

export default {
  name: 'Menu',
  components: {
    HorizontalNavigator,
    MenuSlide
  },
  props: {
    visible: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      homepageBgImage
    };
  }
};
</script>

<style scoped lang="scss">
$collapsed: 1;
$expanded: 5;

.menu {
  &__link {
    @apply w-1/3;
    @apply h-screen;
    transition: width 300ms;

    &.home {
      background-image: url('../assets/images/menu-home.jpg');
    }

    @media (min-width: 1024px) {
      @apply w-1/7;

      &:hover {
        @apply w-1/5;
      }
    }

    @media (min-width: 1440px) {
      &:hover {
        @apply w-1/6;
      }
    }
  }
}
</style>
