<template>
  <button
    class="menu-button transform hover:scale-105 transition duration-100"
    :class="{ 'menu-button--active': isActive }"
    @click="$emit('click')"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
</template>

<script>
export default {
  name: 'MenuButton',
  props: {
    isActive: {
      type: Boolean
    }
  }
};
</script>

<style scoped lang="scss">
.menu-button {
  outline: none;
  cursor: pointer;
  display: block;

  &--active {
    span:nth-child(2) {
      display: none;
    }

    span:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
      transform-origin: center;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  span {
    border-radius: 10px;
    display: block;
    height: 4px;
    width: 32px;
    background-color: #fff;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
</style>
