<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <button
        type="button"
        class="modal-close mr-2 lg:mr-4 mt-4"
        @click="$emit('close')"
      >
        <svg
          height="44"
          viewBox="0 0 54 54"
          width="44"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" stroke="currentColor">
            <g stroke-width="2" transform="matrix(-1 0 0 -1 54 54)">
              <circle
                cx="27"
                cy="27"
                fill="none"
                r="26"
                class="modal-close__circle"
              />
            </g>
            <g stroke-linecap="round" stroke-width="4">
              <path d="m18.5 18.5 18 18" />
              <path d="m36.5 18.5-18 18" />
            </g>
          </g>
        </svg>
      </button>

      <div
        class="modal"
        :class="{ 'self-center': centered }"
        ref="modal"
        role="dialog"
        tabindex="-1"
        @keydown.esc="$emit('close')"
      >
        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    centered: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.$refs.modal.focus();
  }
};
</script>

<style scoped lang="scss">
.modal-backdrop {
  @apply fixed;
  @apply z-50;
  @apply top-0;
  @apply left-0;
  @apply h-full;
  @apply w-full;
  @apply flex;
  @apply justify-center;
  @apply overflow-y-auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  @apply p-4;
  @apply outline-none;
  width: 80rem;
  max-width: calc(100% - 8rem);
}

.modal-close {
  @apply outline-none;
  @apply text-white;
  @apply p-4;
  @apply fixed;
  @apply right-0;
  @apply top-0;

  &:hover,
  &:focus {
    .modal-close__circle {
      fill: rgba(255, 255, 255, 0.3);
    }
  }

  &__circle {
    fill: rgba(255, 255, 255, 0);
    transition: fill 150ms ease-in-out;
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 300ms ease-in-out;
}
</style>
