<template>
  <button
    type="button"
    class="nav-button"
    :class="`nav-button--${direction}`"
    :style="{ color }"
    @click="$emit('click')"
  >
    <arrow-button />
  </button>
</template>

<script>
import ArrowButton from '~/assets/icons/arrow-button.svg';

export default {
  name: 'NavButton',
  components: {
    ArrowButton
  },
  props: {
    color: {
      type: String,
      default: '#fff'
    },
    direction: {
      type: String,
      default: 'left'
    }
  }
};
</script>

<style scoped lang="scss">
.nav-button {
  @apply cursor-pointer;
  @apply outline-none;

  &:hover,
  &:focus {
    .nav-button__circle {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.nav-button__circle {
  fill: rgba(255, 255, 255, 0);
  transition: fill 150ms ease-in-out;
}

.nav-button--right svg {
  transform: rotate(0deg);
}
.nav-button--right svg {
  transform: rotate(180deg);
}
</style>
