<template>
  <div class="orientation-overlay">
    <div class="p-4 mb-16">
      <g-image src="~/assets/images/logo.svg" alt="The Monks of Kijonjo" class="mx-auto max-w-xxs" />
    </div>

    <p class="mb-10 px-8 text-center">Rotate your screen to view the website.</p>

    <orientation-svg />
  </div>
</template>

<script>
import OrientationSvg from "~/assets/icons/orientation.svg";
export default {
  name: "OrientationOverlay",
  components: {
    OrientationSvg
  }
};
</script>

<style scoped lang="scss">
.logo {
  // max-width: 80px;
  // max-height: 40px;
}

.orientation-overlay {
  @apply hidden;
  @apply fixed;
  @apply z-40;
  @apply top-0;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply bg-black;
  @apply text-white;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;

  &::before {
    content: "";
    @apply absolute;
    @apply left-0;
    @apply right-0;
    @apply top-0;
    @apply bottom-0;
    @apply opacity-50;
    z-index: -1;
    background-image: url("../assets/images/bg-home.jpg");
  }

  @media screen and (orientation: portrait) {
    @apply flex;
  }
}
</style>
