<template>
  <h4
    class="lg:text-2xl text-white uppercase max-w-xs text-center tracking-wide font-bold px-4"
    v-html="text"
  ></h4>
</template>

<script>
export default {
  name: "SeePhotos",
  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    text() {
      return `See photos <br /> of ${this.name}`;
    }
  }
};
</script>

<style>
</style>
