<template functional>
  <div :class="[data.class, data.staticClass]" class="relative z-10">
    <div
      v-if="props.linePosition === 'left'"
      class="absolute top-1/2 left-0 transform -translate-x-full -translate-y-1/2 h-1 bg-white rounded-l"
      :class="`w-${props.lineWidth}`"
    ></div>

    <div
      class="border-4 rounded-full border-white"
      :class="[`size--${props.size}`, `bg-${props.background}`]"
    ></div>

    <div
      v-if="props.linePosition === 'right'"
      class="absolute top-1/2 right-0 transform translate-x-full -translate-y-1/2 h-1 bg-white rounded-r"
      :class="`w-${props.lineWidth}`"
    ></div>
  </div>
</template>

<script>
export default {
  name: "TimelinePointer",
  props: {
    size: {
      type: String,
      default: "small"
    },
    background: {
      type: String,
      default: "beige"
    },
    linePosition: {
      type: String,
      default: "left"
    },
    lineWidth: {
      type: Number,
      default: 24
    }
  }
};
</script>

<style lang="scss" scoped>
$small: 36px;
$medium: 54px;
$large: 62px;

.size {
  &--large {
    width: $large;
    height: $large;
  }

  &--medium {
    width: $medium;
    height: $medium;
  }

  &--small {
    width: $small;
    height: $small;
  }
}
</style>
