<template>
  <transition name="fade">
    <slot />
  </transition>
</template>

<script>
export default {
  name: "TransitionFade"
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 700ms cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
