<template>
  <div class="video">
    <iframe
      class="video__iframe"
      :src="src"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "Video",
  props: {
    src: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
.video {
  @apply relative;
  @apply h-0;
  padding-bottom: 56.25%; /* 16:9 */

  &__iframe {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
  }
}
</style>
