<template>
  <div class="app bg-beige">
    <main>
      <transition :name="$root.pageTransition">
        <router-view :key="$route.fullPath" />
      </transition>
    </main>

    <orientation-overlay />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
import OrientationOverlay from "@/components/OrientationOverlay";

export default {
  components: {
    OrientationOverlay
  },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: "description",
          name: "description",
          content: this.$static.metadata.siteDescription
        }
      ]
    };
  },
  data() {
    return {
      transitionName: null
    };
  }
};
</script>

<style lang="scss" scoped>
$easing: cubic-bezier(0.55, 0, 0.2, 1);

main {
  min-height: 100%;
  display: grid;
  grid-template: "main";
  flex: 1;
  background-color: white;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

main > * {
  grid-area: main; /* Transition: make sections overlap on same cell */
  background-color: white;
  position: relative;
}

main > :first-child {
  z-index: 1; /* Prevent flickering on first frame when transition classes not added yet */
}

main > :nth-child(2) {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.next-leave-to,
.next-enter-to,
.prev-leave-to,
.prev-enter-to {
  opacity: 1 !important;
}

.next-leave-to {
  animation: leaveToLeft 1200ms both $easing;
  z-index: 0;
}

.next-enter-to {
  animation: enterFromRight 1200ms both $easing;
  z-index: 1;
}

.prev-leave-to {
  animation: leaveToRight 1200ms both $easing;
  z-index: 0;
}

.prev-enter-to {
  animation: enterFromLeft 1200ms both $easing;
  z-index: 1;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}

@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25%);
    filter: brightness(0.5);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
</style>

<style>
.origin-html p {
  @apply mb-4;
}
</style>
