<template>
  <div class="layout font-body">
    <div class="fixed z-60 top-0 left-0 p-4 ml-2 lg:ml-4 mt-4">
      <menu-button @click="showMenu = !showMenu" :is-active="showMenu" />
    </div>

    <div
      class="fixed z-50 top-0 right-0 p-4 mr-2 lg:mr-4 mt-4"
      v-if="showContactButton"
    >
      <Button tint="light" @click="showContact = true">Contact</Button>
    </div>

    <div
      class="left-0 top-1/2 transform -translate-y-1/2 fixed z-40 ml-2 lg:ml-4"
      v-if="linkPrev"
    >
      <nav-button class="p-4" @click="clickPrev" />
      <p
        v-if="linkPrevText.length"
        class="absolute bottom-0 transform translate-y-full px-2 text-center uppercase text-sm leading-tight text-white font-bold"
      >
        {{ linkPrevText }}
      </p>
    </div>

    <div
      class="right-0 top-1/2 transform -translate-y-1/2 fixed z-40 mr-2 lg:mr-4"
      v-if="linkNext"
    >
      <nav-button direction="right" class="p-4" @click="clickNext" />
      <p
        v-if="linkNextText.length"
        class="absolute bottom-0 transform translate-y-full px-2 text-center uppercase text-sm leading-tight text-white font-bold"
      >
        {{ linkNextText }}
      </p>
    </div>

    <slot />

    <transition :css="false" @enter="onEnterMenu" @leave="onLeaveMenu">
      <Menu v-if="showMenu" :visible="showMenu" />
    </transition>

    <Modal v-if="showContact" @close="showContact = false">
      <div class="py-10 lg:py-20">
        <div class="bg-camel text-white flex">
          <div class="lg:w-2/3 pl-32 lg:pl-48 py-16">
            <g-image
              src="~/assets/images/logo.svg"
              alt="The Monks of Kijonjo"
              class="max-w-xxs mb-16"
              style="margin-left: -69px;"
            />

            <p class="text-black text-xs uppercase font-bold mb-2">
              Abbey Kyotera
            </p>

            <p class="text-lg lg:text-3xl font-light leading-tight mb-8">
              contact@monksofkyotera.com
              <br />+256 782 047799 <br />xxxx+xx Kyotera, Uganda
            </p>

            <p class="text-black text-xs uppercase font-bold mb-2">
              xx netherland
            </p>
            <p class="text-lg lg:text-3xl font-light leading-tight">
              xx@monksofkyotera.com
              <br />+31 06 45775878
            </p>
          </div>

          <div class="hidden lg:block lg:w-1/3">
            <g-image src="~/assets/images/contact-image.jpg" alt="Bell" />
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import TransitionFade from '@/components/TransitionFade';
import MenuButton from '@/components/MenuButton';
import NavButton from '@/components/NavButton';
import anime from 'animejs/lib/anime.es.js';
import Button from '@/components/Button';
import Modal from '@/components/Modal';
import Menu from '@/components/Menu';

export default {
  components: {
    TransitionFade,
    MenuButton,
    NavButton,
    Button,
    Modal,
    Menu
  },
  props: {
    linkNext: {
      required: true,
      validator: prop => typeof prop === 'string' || prop === null
    },
    linkNextText: {
      type: String,
      default: ''
    },
    linkPrev: {
      required: true,
      validator: prop => typeof prop === 'string' || prop === null
    },
    linkPrevText: {
      type: String,
      default: ''
    },
    showContactButton: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    showMenu: false,
    showContact: false
  }),
  mounted() {
    this.$router.afterEach((to, from) => {
      this.showMenu = false;
    });
    this.$router.beforeEach((to, from, next) => {
      if (this.showMenu) {
        this.$root.pageTransition = 'fade';
      }
      next();
    });
  },
  methods: {
    clickPrev() {
      this.$root.pageTransition = 'prev';
      this.$router.push(this.linkPrev);
    },
    clickNext() {
      this.$root.pageTransition = 'next';
      this.$router.push(this.linkNext);
    },
    onEnterMenu(el, done) {
      const els = [...el.querySelectorAll('.menu__link')];
      if (!els) return;
      anime({
        targets: els,
        translateY: [-100, 0],
        opacity: [0, 1],
        delay: anime.stagger(100, { from: 'center' }),
        duration: 600,
        easing: 'cubicBezier(0.55, 0, 0.2, 1)',
        complete: done
      });
    },
    onLeaveMenu(el, done) {
      anime({
        targets: el,
        opacity: [1, 0],
        duration: 400,
        easing: 'cubicBezier(0.55, 0, 0.2, 1)',
        complete: done
      });
    }
  }
};
</script>
